@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700&display=swap');

:root {
    --primary: #fe2c55;
    --font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    --header-height: 60px;
    --header-width: 361px;
    --wrapper-width: 1150px;
    --hover-color: rgba(22, 24, 35, 0.03);
    --text-color: rgba(22, 24, 35, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 500;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 500;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

button {
    border: 0px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.text-format {
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 600;
    line-height: 22px;
    font-size: 1.6rem;
}

.dflex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Custom Tippy ToolTip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        color: rgba(84, 84, 84, 0.92);
        top: -8px;
    }
    .tippy-content {
        font-family: var(--font-family);
        padding: 8px 9px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;
    }
}
