.wrapper {
    width: 356px;
    padding: 20px 0 26px 8px;
}

.main-sidebar {
    margin-bottom: 8px;
    img {
        height: 32px;
        width: 32px;
    }
    a {
        min-height: 48px;
        padding: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }
    .foryou {
        color: var(--primary);
    }
}

.login-sidebar {
    padding: 20px 8px 24px 8px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    p {
        color: rgba(22, 24, 35, 0.5);
        font-size: 16px;
        font-family: SofiaPro, PingFangSC, sans-serif;
        line-height: 22px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        font-family: SofiaPro, PingFangSC, sans-serif;
    }
}
